{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <script type="application/json" id="django-messages">
                [{% for message in messages %}"{{ message }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
    </script>

    <div class="container">
        <h2>Download youtube videos</h2>
        <form method="post">
            {% csrf_token %}
            <label for="link">Enter Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <button type="submit">Send Email</button>
            
        </form>

        <script src="{% static 'js/scripts.js' %}"></script>
    </div>
</body>

</html>
