{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/login/">Login</a>
        <a href="/register/">Register</a>

        <a href="/logout/">Logout</a>
    </div>
    
    
    <script type="application/json" id="django-messages">
            [{% for message in messages %}"{{ message }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
    </script>

    
    <div class="content">
        <center><h1>Welcome to User Dashboard, {{request.user}}</h1></center>
        <hr>
        <h2>Student Details</h2>
        <h3>
            Users
        </h3>
        <!-- <hr> -->
        <div>
            <table>
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{user.username}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>

</html>